@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer utilites {
    @keyframes fadeIn{
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .animate-fadeIn {
        animation: fadeIn 0.2s ease-out;
    }
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #fff;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #e50914;
    transition: color 0.3s;
}
a:hover {
    color: #ff1f1f;
}

body {
    margin: 0;
    min-width: 320px;
    background-color: #000;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 0.5em;
}

button {
    cursor: pointer;
}

button.btn {
    border-radius: 4px;
    border: 1px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: gray;
    color: #fff;
    transition: background-color 0.3s;
}

button.btn:hover {
    border-color: #ff1f1f;
    background-color: floralwhite;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background-color: #e50914;
    border-radius: 4px;
}
/*
@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */
